.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
height: 50vh;
    word-break: break-word; 
    color: #669
}


.card_wrapper {
    
    width: 40%;
    margin: 50px auto;
    border-radius: 20px;
    background-color: rgb(233, 190, 213);
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;

    width: 120px;
    border-color: 1px solid red;
    
}


.card_word {
   flex-basis: 40%;
    font-size: 4rem;
    margin: 10px auto; 
    
}

.card_transcription {
    flex-basis: 20%;
    margin: 0 auto 10px;
}

.card__translation {
    flex-basis: 25%;
}

.button_edit__inspect:hover {
    background-color: rgb(40, 141, 40);
}

.button_edit__show {
    width: max-content;
    height: 30px;
    background-color: transparent;
    text-align: center;
    color: rgb(31, 114, 31);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

.button_leftright {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: larger;
    margin-top: 150px;
}

.button_leftright:hover {
    color: rgb(115, 26, 156);
}

.button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;

    width: 120px;
    border-color: 1px solid red;
}


